<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <title>UFO Fortnightly</title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' />
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <style type="text/css">body{background: #eee}</style>
</head>
<body>
    <div class="container" style="margin-top:200px">
        <%include nav%>
        <div class="jumbotron">
            <div class="container">
                <div class="alert alert-info"> <strong>Article share weekly system</strong>
                    ,more is coming...
                </div>
            </div>
        </div>
        <%include foot%>
    </div>
</body>
    <script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</html>