<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <title>UFO Fortnightly</title>
    <%include res%>
</head>
<body>
    <!--NAV-->
    <%include nav%>
    <div class="container">
        <div class="container">
            <center>
                <H3><%=data['title']%></H3>
            </center>
            <%if(data['origin']){%>
            <center>
                <h6><a href="<%=data['origin']%>"><%=data['origin']%></a></h6>
            </center>
            <%}%>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <%=data['content']%></div>
        </div>
    <%include foot%>
    </div>
</body>
    <script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootbox.min.js"></script>
    <script type="text/javascript" src="/javascripts/read.js?t=201308242351"></script>
</html>