.nav-tabs {
    margin-bottom: 30px;
}
body {
    padding-top: 70px;
}
#tagcloud {
    border-radius: 150px;
}
#tagcloud a {
    font-size: 20px;
    color: #333
}
@media (max-width: 768px) {
    #tagcloud {
        display: none;
    }
}

.foot{width: 100%;display: block;text-align: center;font: 9px/1.6 "cursive","Comic Sans MS","Microsoft YAHEI",serif;}

.list-group-item:hover{background-color: #f5f5f5;}
.list-group-item-heading .edit{font-size: 12px;margin-left: 1em;color:#428bca;}
.list-group-item-heading a.edit:hover{color:#428bc0;text-decoration: underline: ;}
.user-list-group a{color:#999;}
.user-list-group a:hover{text-decoration: none;}

.preview-mailto{border-radius: 5px;border: 1px #ccc dotted;width: 100%;}